zone "my-site.com" {
   type master;
   file "/etc/named/zones/db.my-site.com"; # zone file path
};
zone "mynet-702.com" {
   type master;
   file "/etc/named/zones/db.mynet-702.com"; # zone file path
};
zone "100.168.192.in-addr.arpa" {
   type master;
   file "/etc/named/zones/db.100.168.192"; # 192.168.100.0/24 subnet
};
